<!DOCTYPE html>
<html lang="en">
<head>
    <title>Template PDF</title>
    <style>
        *{
            font-family: 'Times New Roman';
            color: black;
            font-size: 10pt;
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            /* border: 1px solid red; */
        }
        table{
            margin-top: 8.55%;
            margin-bottom: 8.55%;
            margin-left: 3cm;
            margin-right: 3cm;
        }

        .space{
            color: white;
        }

        td ol{
            margin-left: 13px;
        }

        .image{
            background-color: wheat;
            width: 3cm;
            height: 4cm;
            position: absolute;
            top: 20cm;
            right: 2cm;
        }
    </style>
</head>
<body>
    <table border="0">
        <tr valign="top">
            <th colspan="3">BIODATA</th>
        </tr>
        <tr valign="top">
            <td>NIA</td>
            <td>:</td>
            <td>389.08.21.20</td>
        </tr>
        <tr valign="top">
            <td>Nama Lengkap</td>
            <td>:</td>
            <td>Ramadhan</td>
        </tr>
        <tr valign="top">
            <td>Nama Panggilan</td>
            <td>:</td>
            <td>Madha</td>
        </tr>
        <tr valign="top">
            <td>Tempat & Tanggal Lahir</td>
            <td>:</td>
            <td>Kuala Dua, 08-12-2001</td>
        </tr>
        <tr valign="top">
            <td>Agama</td>
            <td>:</td>
            <td>Islam</td>
        </tr>
        <tr valign="top">
            <td>Golongan Darah</td>
            <td>:</td>
            <td>A+</td>
        </tr>
        <tr valign="top">
            <td>Fakultas</td>
            <td>:</td>
            <td>Matematika dan Ilmu Pengetahuan Alam</td>
        </tr>
        <tr valign="top">
            <td>Jurusan</td>
            <td>:</td>
            <td>Sistem Informasi</td>
        </tr>
        <tr valign="top">
            <td>NIM</td>
            <td>:</td>
            <td>H1101191035</td>
        </tr>
        <tr valign="top">
            <td>Alamat</td>
            <td>:</td>
            <td>Desa Kuala Dua, Dusun Karya II, Kecamatan Sungai Raya, Kabupaten Kubu Raya</td>
        </tr>
        <tr valign="top">
            <th colspan="3"><span class="space">-</span></th>
        </tr>
        <tr valign="top">
            <th colspan="3">About Me</th>
        </tr>
        <tr valign="top">
            <td>Riwayat Pendidikan</td>
        </tr>
        <tr valign="top">
            <td>SD</td>
            <td>:</td>
            <td>SD Negeri 20 Sungai Raya</td>
        </tr>
        <tr valign="top">
            <td>SMP</td>
            <td>:</td>
            <td>SMP Negeri 3 Sungai Raya</td>
        </tr>
        <tr valign="top">
            <td>SMA</td>
            <td>:</td>
            <td>SMK Negeri 4 Pontianak</td>
        </tr>
        <tr valign="top">
            <td>Hobi</td>
            <td>:</td>
            <td>Programming</td>
        </tr>
        <tr valign="top">
            <td>Prestasi yang Pernah Diraih<span class="space">----------</span></td>
            <td>
                :<span class="space">-</span>
            </td>
            <td>
                <ol>
                    <li>Ikut Lomba</li>
                    <li>Lomba lagi</li>
                </ol>
            </td>
        </tr>
        <tr valign="top">
            <td>Status Kepengurusan</td>
            <td>:</td>
            <td>
                <ol>
                    <li>Jadi Anggota</li>
                    <li>Anggota</li>
                </ol>
            </td>
        </tr>
        <tr valign="top">
            <td>Pelatihan yang Pernah Diikuti</td>
        </tr>
        <tr valign="top">
            <td>Pelatihan PMI</td>
            <td>:</td>
            <td>Pelatihan WASH</td>
        </tr>
        <tr valign="top">
            <td>Pelatihan di luar PMI</td>
            <td>:</td>
            <td>Junior Network Administrator</td>
        </tr>
        <tr valign="top">
            <td>Spesialisasi yang Pernah Dimiliki</td>
        </tr>
        <tr valign="top">
            <td>Spesialisasi PMI</td>
            <td>:</td>
            <td>Spesialisasi WASH</td>
        </tr>
        <tr valign="top">
            <td>Spesialisasi di luar PMI</td>
            <td>:</td>
            <td>Junior Network Administrator</td>
        </tr>
        <tr valign="top">
            <td>Pengalaman Kerja</td>
            <td>:</td>
            <td>Teknisi Indihome</td>
        </tr>
        <tr valign="top">
            <td>Kemampuan Bahasa Asing</td>
            <td>:</td>
            <td>English pasif</td>
        </tr>
        <tr valign="top">
            <td>Bakat</td>
            <td>:</td>
            <td>Bakat matematis</td>
        </tr>
        <tr valign="top">
            <td>Cita - Cita</td>
            <td>:</td>
            <td>Menjadi pemimpian dunia</td>
        </tr>
        <tr valign="top">
            <td>Motto Hidup</td>
            <td>:</td>
            <td>Lakukan semua dengan otak, bukan otot</td>
        </tr>
        <tr valign="top">
            <th colspan="3"><span class="space">-</span></th>
        </tr>
        <tr valign="top">
            <th colspan="3">Contact Me</th>
        </tr>
        <tr valign="top">
            <td>Nomor HP</td>
            <td>:</td>
            <td>+6283151834395</td>
        </tr>
        <tr valign="top">
            <td>WhatsApp</td>
            <td>:</td>
            <td>+6283151834395</td>
        </tr>
        <tr valign="top">
            <td>Telegram</td>
            <td>:</td>
            <td>+6283151834395</td>
        </tr>
        <tr valign="top">
            <td>Facebook</td>
            <td>:</td>
            <td>Ramadhan Rama</td>
        </tr>
        <tr valign="top">
            <td>Instagram</td>
            <td>:</td>
            <td>@ramadhan_kpj</td>
        </tr>
        <tr valign="top">
            <td>Twitter</td>
            <td>:</td>
            <td>@madha_tkj</td>
        </tr>
        <tr valign="top">
            <td>ID Line</td>
            <td>:</td>
            <td>-</td>
        </tr>
        <tr valign="top">
            <td>E-Mail</td>
            <td>:</td>
            <td>madha@student.untan.ac.id</td>
        </tr>
        <tr valign="top">
            <th colspan="3"><span class="space">-</span></th>
        </tr>
        <tr valign="top">
            <td>Kesan buat KSR UNTAN</td>
            <td>:</td>
            <td>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores exercitationem nostrum illo earum architecto obcaecati.</td>
        </tr>
        <tr valign="top">
            <td>Pesan</td>
            <td>:</td>
            <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex ea nisi ipsa sequi qui id.</td>
        </tr>
    </table>
    <div class="image">

    </div>
</body>
</html>